npx playwright test /tests/1-annotations/annotation.spec.ts --grep "My second 
test suite" --headed

npx playwright test /tests/1-annotations/annotation.spec.ts --grep "My second 
test suite" --project=chromium



